# --- Configuration de l'IA ---
AI_PROVIDER=groq
AI_MODEL=llama3-8b-8192
GROQ_API_KEY=put_your_groq_api_key_here
GLM_API_KEY=put_your_glm_api_key_here


# --- Configuration de la Base de Données ---
DB_USER=put_your_db_user_here
DB_PASSWORD=put_your_db_password_here
DB_NAME=put_your_db_name_here
DB_PORT=5432

SMTP_EMAIL=ton_nouveau_gmail@gmail.com
SMTP_PASSWORD=ton_code_a_16_caracteres_sans_espaces